*
{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

/******************************Header********************************************/

header{
    background-color: black;
    width: 100%;
}

.container
{
    width: 90%;
    height: 4.7rem;
    color: white;
    font-size: 1rem;
    padding: 0px 0.75rem;
    margin: 0px 8.5rem;
}

.wrap
{
    width: 88%;
    height: 4.7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrap ul
{
    display: flex;
    justify-content: space-evenly;
}

.wrap ul li
{
    list-style: none;
    margin: 1.5rem;
}

.wrap ul li a
{
    color: white;
    text-decoration: none;
}

.wrap ul li:hover a, .wrap ul li:hover span
{
    color: red;
}

.wrap p
{
    color: white;
    font-family: Satisfy;
    cursor: pointer;
    font-size: 1.5rem;
    padding-right: 2rem;
}

/************ hover effect ***************/

        .mega-div
        {
            display: none;
        }

        .wrap ul li:hover .mega-div
        {
            display: block;
            position: absolute;
            top: -5rem;
            width: 100%;
            height: 24rem;
            display: flex;
            justify-content: center;
            padding: 3.75rem 0 2rem;
            background-color: black;
            margin-top: 8rem;
            left: 0rem;
        }


        .wrap ul li:hover .wrap-container
        {
            width: 90%;
            height: 18rem;
            display: flex;
            justify-content: center;
            margin: 0 11.625rem;
            padding: 2rem 0;
        }

        .wrap ul li:hover .center-div
        {
            width: 57rem;
            height: 14rem;
            display: flex;
        }

        .wrap ul li:hover .center-div ul
        {
            width: 19rem;
            height: 14.5rem;
            font-size: 0.9rem;
            display: block;
        }

        .wrap ul li:hover .image-wrap img
        {
            width: 22rem;
            height: 12rem;
            margin-left: 14rem;
            
        }

        .wrap ul li:hover .center-div ul li
        {
            list-style: none;
            padding: 0.5rem;
            margin-left: -2.3rem;
            margin-top: -1rem;
        }

        .wrap ul li:hover .center-div ul li a
        {
            text-decoration: none;
            color: white;
        }

        .wrap ul li:hover .center-div ul li:hover a
        {
            color: #FFF78A;
            text-decoration: underline;
        }

         /************************section1 *****************/

         .section1
         {
             width: 100%;
             height: 53rem;
             font-size: 1rem;
         }
 
         .section1-img
         {
             width: 100%;
             height: 53rem;
             background-image: url(images/investor\ img1.png);
             background-size: cover;
             position: relative;
             animation: slide 10s infinite ease-in-out;
         }
 
         @keyframes slide
             {
                 0%
                 {
                     background-image: url(images/investor\ img1.png);
                 }
                 100%
                 {
                     background-image: url(images/investor\ img2.png);
                 }
             }

        /*************************section2********************/

        .section2
        {
            width: 100%;
            height: 26rem;
            padding: 3rem 0;        
        }

        .section-header
        {
            width: 100%;
            height: 5rem;
            text-align: center;
        }

        .section-header h2
        {
            font-size: 2.5rem;
            margin: 0 0 0.5rem;
        }

        .section-header p
        {
            font-size: 1.2rem;
        }

        .section2-container
        {
            width: 100%;
            height: 21rem;
            display: flex;
            justify-content: center;
            margin-top: 1rem;
        }

        .section2-grid
        {
            width: 70%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        .section2-grid-child
        {
            text-align: center;
        }

        .section2-grid-child h6
        {
            font-size: 2rem;
            margin: 3rem 0 0.5rem;
        }

        .section2-grid-child p
        {
            margin: 0 0 1rem;
        }

        /***************************section3*******************/

        .section3
        {
            width: 100%;
            height: 40rem;
            padding: 3rem 0;
            background-color: #f7f5ef;
        }

        .section3-container
        {
            width: 100%;
            height: 32rem;
            display: flex;
            justify-content: center;
        }

        .report-table
        {
            width: 56rem;
            height: 100%;
            background-color: white;
            border: 1px solid black;
        }

        .report-table ul
        {
            width: 51rem;
            height: 80%;
            background-color: white;
            padding: 2rem 2.5rem 1.5rem;
        }

        .report-table ul li
        {
            list-style: none;
            width: 50rem;
            height: 3rem;
            padding: 1rem 0;
            display: flex;
            align-items: center;
            font-size: 0.9rem;
            border-bottom: 1px solid black;
        }

        .title
        {
            width: 29rem;
            height: 3rem;
            display: flex;
            align-items: center;
        }

        .title p
        {
            padding: 0 0 0 2.5rem;
        }

        .icons
        {
            width: 191px;
            height: 1.5rem;
            display: flex;
            align-items: center;
            margin-left: 4rem;
        }

        .icons a
        {
            color: #dd052b;
            text-decoration: none;
            font-weight: bold;
        }

        .icons span i
        {
            color: #dd052b;
            text-decoration: underline;
            cursor: pointer;
            margin-left: 0.5rem;
        }

        .more-text
        {
            width: 53rem;
            height: 2rem;
            padding: 1rem 0;
            display: flex;
            justify-content: center;
        }

        .more-text i
        {
            cursor: pointer;
        }

        /***********************section4********************/

        .section4
        {
            width: 100%;
            height: 42rem;
            padding: 3rem 0;
        }

        .radio-container
        {
            width: 100%;
            height: 3rem;
            display: flex;
            justify-content: center;
            margin-top: 1rem;
            padding: 1rem 0;
        }

        .radio-buttons
        {
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
        }

        input[type=radio]
        {
            width: 1.3rem;
            height: 1.3rem;
            margin: 0 0.3rem 0;
        }

        label
        {
            margin-right: 1rem;
        }

        .section4-container
        {
            width: 100%;
            height: 28rem;
            display: flex;
            justify-content: center;
        }

        .section4-content
        {
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: center;
        }

        .section4-left
        {
            width: 17rem;
            height: 100%;
            padding: 0 1rem;
            display: flex;
            justify-content: center;
        }

       .section4-left ul
        {
            width: 100%;
            height: 100%;
        }

        .section4-left ul li
        {
            width: 100%;
            height: 3rem;
            list-style: none;
            padding: 1.25px 0;
            display: flex;
            align-items: center;
            border-bottom: 1px solid black;
        }

        .section4-left ul li a
        {
            color: black;
            font-weight: bold;
            text-decoration: none;
        }

        .section4-left ul li a:hover
        {
            color: #dd052b;
        }

        .section4-right
        {
            width: 48rem;
            height: 85%;
            padding: 2rem 6rem;
            margin-left: 5rem;
            display: flex;
            border: 1px solid black;
        }

        .section4-right ul
        {
            width: 46rem;
            height: 24rem;
            border-left: 1px solid black;
        }

        .section4-right ul li
        {
            list-style: none;
            display: flex;
        }

        .section4-right ul .list1
        {
            width: 36rem;
            height: 1rem;
            margin: 2.5rem 0;
            padding: 1rem 0;
            background-color: #dd052b;
        }

        .section4-right ul .list2
        {
            width: 25rem;
            height: 1rem;
            margin: 2.5rem 0;
            padding: 1rem 0;
            background-color: #dd052b;
        }

        .section4-right ul .list3
        {
            width: 15rem;
            height: 1rem;
            margin: 2.5rem 0;
            padding: 1rem 0;
            background-color: #dd052b;
        }

        .section4-right ul .list4
        {
            width: 15.5rem;
            height: 1rem;
            margin: 2.5rem 0;
            padding: 1rem 0;
            background-color: #dd052b;
        }

        .year
        {
            position: absolute;
            left: 44rem;
            font-weight: bold;
        }

        .section4-right ul li .amount1
        {
            position: absolute;
            right: 29rem;
            font-weight: bold;
        }

        .section4-right ul li .amount2
        {
            position: absolute;
            right: 39rem;
            font-weight: bold;
        }

        .section4-right ul li .amount3
        {
            position: absolute;
            right: 49rem;
            font-weight: bold;
        }

        .section4-right ul li .amount4
        {
            position: absolute;
            right: 48rem;
            font-weight: bold;
        }

         /***************************section5*******************/

         .section5
         {
             width: 100%;
             height: 46rem;
             padding: 3rem 0;
             background-color: #f7f5ef;
         }
 
         .heading-list
         {
            width: 100%;
            height: 2rem;
            display: flex;
            justify-content: center;
         }

         .heading-list li
         {
            list-style: none;
            margin: 0 2rem;
         }
         
         .heading-list li a
         {
            color: #808080;
            text-decoration: none;
         }

         .heading-list li a:hover 
         {
            color: #dd052b;
            border-bottom: 1px solid black;
         }

         .section5-container
        {
            width: 100%;
            height: 34rem;
            display: flex;
            justify-content: center;
            margin-top: 2rem;
        }

        .report-table-two
        {
            width: 64rem;
            height: 100%;
            background-color: white;
            border: 1px solid black;
        }

        .report-table-two ul
        {
            width: 58rem;
            height: 80%;
            background-color: white;
            padding: 2rem 2.5rem 1.5rem;
        }

        .report-table-two ul li
        {
            list-style: none;
            width: 60rem;
            height: 3rem;
            padding: 1rem 0;
            display: flex;
            align-items: center;
            font-size: 0.9rem;
            border-bottom: 1px solid black;
        }

        .title
        {
            width: 50rem;
            height: 3rem;
            display: flex;
            align-items: center;
        }

        .title p
        {
            padding: 0 0 0 2.5rem;
        }

        .icons
        {
            width: 191px;
            height: 1.5rem;
            display: flex;
            align-items: center;
            margin-left: 4rem;
        }

        .icons a
        {
            color: #dd052b;
            text-decoration: none;
            font-weight: bold;
        }

        .icons span i
        {
            color: #dd052b;
            text-decoration: underline;
            cursor: pointer;
            margin-left: 0.5rem;
        }

        .view-all
        {
            width: 64rem;
            height: 2rem;
            padding: 0.5rem 0;
            display: flex;
            justify-content: center;
        }

        .view-all a
        {
            color: black;
        }

        /***************************section6*******************/

        .section6
        {
            width: 100%;
            height: 60rem;
            padding: 3rem 0 0;
        }

        .section6-container
        {
            width: 100%;
            height: 44rem;
            margin-top: 2rem;
            background-image: url(images/investor\ img3.png);
            background-size: cover;
            position: relative;
        }

        .section6-content
        {
            width: 58rem;
            height: 10rem;
            color: white;
            position: absolute;
            left: 7rem;
            top: 17rem;
        }

        .section6-content h2
        {
            font-size: 2rem;
            margin: 0 0 0.5rem;
        }

        .section6-content p
        {
            font-size: 1.2rem;
            margin: 0 0 2rem;
        }

        .button 
        {
            width: 100%;
            height: 2rem;
            display: flex;
            justify-content: center;
            margin-top: 2rem;
        }

        .button a
        {
            color: #dd052b;
        }

        .button span i
        {
            color: #dd052b;
            margin-left: 0.5rem;
        }

        /***************************section 7 ******************/

        .section7
        {
            width: 100%;
            height: 45rem;
            padding: 3rem 0;
            background-color: #f7f5ef;
        }

        .section-header
        {
            width: 100%;
            height: 6rem;
            padding: 0 0 2rem;
            text-align: center;
        }

        .section-header h2
        {
            font-size: 2.5rem;
            margin: 0 0 0.5rem;
        }

        .section-header p
        {
            font-size: 1.2rem;
        }

        .section7-container
        {
            width: 100%;
            height: 35rem;
            padding: 0 0.75rem;
            display: flex;
            justify-content: center;
        }

        .section7-link
        {
            width: 100%;
            height: 1.5rem;
            margin: 1.3rem 0 0;
            display: flex;
            justify-content: center;
        }

        .section7-link a
        {
            color: #dd052b;
        }

        /********************* section8 ******************/

        .section8
        {
            width: 100%;
            height: 38rem;
            padding: 3rem 0;
        }

        .section8-content
        {
            width: 100%;
            height: 31rem;
            display: flex;
            justify-content: center;
        }

        .section8-grid
        {
            width: 80rem;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        .section8-grid-child
        {
            width: 26.6rem;
            height: 15.4rem;
        }

        .icon-img
        {
            width: 5rem;
            height: 5rem;
            margin: 2rem 9.5rem;
        }

        .icons 
        {
            width: 26.6rem;
            height: 1.5rem;
            margin-top: 1rem;
        }

        .section8-grid-child p
        {
            width: 26.6rem;
            height: auto;
            text-align: center;
        }

        .icons a
        {
            color: #dd052b;
            text-decoration: none;
            font-weight: bold;
            margin-left: 5.5rem;
        }

        .icons span i
        {
            color: #dd052b;
            text-decoration: underline;
            cursor: pointer;
        }

        .icons-main
        {
            margin: 1rem 0;
        }

        .icons-main a
        {
            color: #dd052b;
            text-decoration: none;
            font-weight: bold;
        }

        .icons-main span i
        {
            color: #dd052b;
            text-decoration: underline;
            cursor: pointer;
        }

        /***************** section9*****************/

        .section9
        {
            width: 100%;
            height: 41rem;
            background-image: url(images/screen.png);
            background-size: cover;
            position: relative;
        }

        .section9-container
        {
            width: 80rem;
            height: 21rem;
            margin: 0 16rem;
            padding: 0 0.75rem;
            position: absolute;
            top: 10rem;
            color: white;
            text-align: center;
        }

        .section9-header
        {
            width: 100%;
            height: 3rem;
            text-align: center;
            font-size: 2rem;
        }


        .section9-header h2
        {
            font-size: 3rem;
            margin: 0 0 0.5rem;
        }

        .section9-header p
        {
            font-size: 1rem;
            margin: 0 0 2rem;
        }

        .section9-links
        {
            width: 100%;
            height: 6rem;
            margin: 5rem 0 3rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .section9-links a
        {
            color: white;
            margin: 0 1rem 1.5rem;
            font-size: 1.25rem;
        }

        .section9-container p
        {
            margin-bottom: 4rem;
        }

        .section9-container .all
        {
            color: white;
            text-decoration: none;
            padding: 0.8rem 2rem;
            background-color: #dd052b; 
        }

        /***************************section10*******************/

        .section10
        {
            width: 100%;
            height: 60rem;
            padding: 3rem 0 0;
        }

        .section10-container
        {
            width: 100%;
            height: 52rem;
            background-image: url(images/investor\ img4.png);
            background-size: cover;
            position: relative;
        }

        /********************section 11******************/

        .section11
        {
            width: 100%;
            height: 56rem;
            padding: 3rem 0;
        }

        .section11-container
        {
            width: 100%;
            height: 5rem;
            padding: 0 0.75rem;
            display: flex;
            justify-content: center;
        }

        .section11-header
        {
            width: 78.5rem;
            height: 2rem;
            padding: 0 0 2rem;
            font-size: 1.5rem;
            text-align: center;
        }

        .section11-content1
        {
            width: 78.5rem;
            height: 25rem;
            margin-left: 21rem;
            display: flex;
        }

        .section11-content1 img
        {
            width: 46rem;
            height: 25rem;
        }

        .inquiry-text
        {
            width: 521px;
            height: 19.3rem;
            padding: 2.8rem 2.8rem 2.8rem 3.75rem;
            background-color: #dd052b;
        }

        .inquiry-text h4
        {
            color: white;
            font-size: 2rem;
            font-weight: lighter;
            margin: 6rem 0 2rem;
        }

        .inquiry-text a
        {
            color: black;
            margin: 20px 0 0 ;
            padding: 11px 22px;
            background-color: white;
            text-decoration: none;
            font-weight: bold;
        }

        .section11-content2
        {
            width: 78.5rem;
            height: 25rem;
            margin-left: 21rem;
            display: flex;
            margin-top: 0.5rem;
            border: 1px solid black;
        }

        .inquity-text2
        {
            width: 36.5rem;
            height: 11rem;
            padding: 0 3rem 0 0;
            margin-top: 6.5rem;
            margin-left: 2rem;
        }

        .inquity-text2 h4
        {
            font-size: 1.5rem;
            margin: 0 0 0.5rem;
        }

        .inquity-text2 p
        {
            margin: 0 0 2rem;
            padding: 0 10rem 0 0;
        }

        .inquity-text2 form #email
        {
            width: 25rem;
            height: 2.6rem;
            padding: 0 1rem;
            background-color: #e8e8e8;
            border: 1px solid white;
            outline: none;
        }

        .inquity-text2 form #submit
        {
            width: 8rem;
            height: 2.7rem;
            margin-left: -0.4rem;
            color: white;
            background-color: #dd052b;
            padding: 0 1rem;
            border: 1px solid white;
            cursor: pointer;
        }

        .section11-content3
        {
            width: 36rem;
            height: 25rem;
            padding: 0 0 0 0.8rem;
        }

        .info-box
        {
            width: 89%;
            height: 8.1rem;
            background-color: #f7f5ef;
            padding: 2rem;
            border: 1px solid black;
            margin-bottom: 0.5rem;
        }

        .info-box h4
        {
            font-size: 1.5rem;
            margin: 0 0 1.5rem;
        }

        .info-box a
        {
            text-decoration: none;
            color: black;
            margin: 1rem 0 0;    
            font-size: 1.3rem;
        }

        .info-box a i
        {
            color: #dd052b;
        }

        /****************** footer ********************/

        .main-footer
        {
            width: 100%;
            height: 45.5rem;
            background-color: #1c1c1c;
            color: white;
        }

        .footer-div1
        {
            width: 80rem;
            height: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 16rem;
        }

        .footer-logo
        {
            color: white;
            font-family: Satisfy;
            font-size: 25px;
            cursor: pointer;
            background-image: linear-gradient(orange, purple);
        }

        .footer-content
        {
            width: 82rem;
            margin-left: 16rem;
            height: 31rem;
            display: flex;
            justify-content: space-evenly;
        }

        .head 
        {
            width: 12rem;
            height: auto;
        }

        .head a
        {
            color: white;
            text-decoration: none;
            font-size: 0.9rem;
        }

        .head ul li
        {
            font-size: 0.9rem;
            margin: 1rem 0 0;
            list-style: none;
        }
        .footer-list li a
        {
            color: #808080;
        }

        .footer-list li:hover a
        {
            color: white;
        }

        /************* footer div2 ***************/

        .footer-divs
        {
            width: 82rem;
            height: 1.5rem;
            display: flex;
        }

        .footer-div2
        {
            width: 36rem;
            height: 1rem;
            padding: 0 0.75rem;
            font-size: 1rem;
            color: white;
            margin-left: 16rem;
        }

        .footer-div2 ul 
        {
            width: 34rem;
            height: 1rem;
            display: flex;
            justify-content: space-evenly;
        }

        .bottom-nav li
        {
            list-style: none;
            padding: 0 1rem;
        }

        .bottom-nav li a
        {
            color: white;
            font-weight: lighter;
            font-style: italic;
            text-decoration: none;
            font-size: 0.85rem;
        }

        /*************** footer icon div *****************/

        .footer-div3
        {
            width: 30rem;
            height: 1rem;
            padding: 0 0.75rem;
            font-size: 1rem;
            color: white;
            margin-left: 16rem;
        }

        .footer-div3 ul 
        {
            width: 23rem;
            height: 1rem;
            display: flex;
        }

        .bottom-icon li
        {
            list-style: none;
            margin: 0.9rem; 
        }

        .bottom-icon li a
        {
            color: white;
            text-decoration: none;
        }

        .bottom-icon li a img
        {
            width: 1.5rem;
            height: 1.5rem;
        }
        /**************** copyright *****************/

        .copyright
        {
            width: 100%;
            height: 2.5rem;
            background-color: #dd052c;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.8rem;
            margin-top: 2.5rem;
            font-weight: bold;
        }