*
{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

/******************************Header********************************************/

header{
    background-color: black;
    width: 100%;
}

.container
{
    width: 90%;
    height: 4.7rem;
    color: white;
    font-size: 1rem;
    padding: 0px 0.75rem;
    margin: 0px 8.5rem;
}

.wrap
{
    width: 88%;
    height: 4.7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrap ul
{
    display: flex;
    justify-content: space-evenly;
}

.wrap ul li
{
    list-style: none;
    margin: 1.5rem;
}

.wrap ul li a
{
    color: white;
    text-decoration: none;
}

.wrap ul li:hover a, .wrap ul li:hover span
{
    color: red;
}

.wrap p
{
    color: white;
    font-family: Satisfy;
    cursor: pointer;
    font-size: 1.5rem;
    padding-right: 2rem;
}

/************ hover effect ***************/

        .mega-div
        {
            display: none;
        }

        .wrap ul li:hover .mega-div
        {
            display: block;
            position: absolute;
            top: -5rem;
            width: 100%;
            height: 24rem;
            display: flex;
            justify-content: center;
            padding: 3.75rem 0 2rem;
            background-color: black;
            margin-top: 8rem;
            left: 0rem;
        }


        .wrap ul li:hover .wrap-container
        {
            width: 90%;
            height: 18rem;
            display: flex;
            justify-content: center;
            margin: 0 11.625rem;
            padding: 2rem 0;
        }

        .wrap ul li:hover .center-div
        {
            width: 57rem;
            height: 14rem;
            display: flex;
        }

        .wrap ul li:hover .center-div ul
        {
            width: 19rem;
            height: 14.5rem;
            font-size: 0.9rem;
            display: block;
        }

        .wrap ul li:hover .image-wrap img
        {
            width: 22rem;
            height: 12rem;
            margin-left: 14rem;
            
        }

        .wrap ul li:hover .center-div ul li
        {
            list-style: none;
            padding: 0.5rem;
            margin-left: -2.3rem;
            margin-top: -1rem;
        }

        .wrap ul li:hover .center-div ul li a
        {
            text-decoration: none;
            color: white;
        }

        .wrap ul li:hover .center-div ul li:hover a
        {
            color: #FFF78A;
            text-decoration: underline;
        }

        /************************section1 *****************/

        .section1
        {
            width: 100%;
            height: 53rem;
            font-size: 1rem;
        }

        .section1-img
        {
            width: 100%;
            height: 53rem;
            background-image: url(images/leadership\ img1.png);
            background-size: cover;
            position: relative;
            animation: change 10s infinite ease-in-out;
        }

        @keyframes change
        {
            0%
            {
                background-image: url(images/leadership\ img1.png);
            }
           
            100%
            {
                background-image: url(images/leadership\ img2.png);
            }
        }

        /********************section2*********************/

        .section2
        {
            width: 100%;
            height: 5rem;
            padding: 3rem 0;
            display: flex;
            justify-content: center;
        }

        .section2-links
        {
            width: 60%;
            height: 1.5rem;
        }

        .section2-links a
        {
            text-decoration: none;
            color: #999999;
        }

         /*********************section3******************/

         .section3
         {
             width: 100%;
             height: 163rem;
             background-color: #f7f5ef;
             padding: 3rem 0;
         }
 
         .section3-list
         {
             width: 100%;
             height: 1.5rem;
             display: flex;
             justify-content: center;
         }
 
         .section3-list ul
         {
             width: 70rem;
             height: 1.5rem;
             display: flex;
             justify-content: center;
         }
 
         .section3-list ul li
         {
             list-style: none;
             padding: 0 1.7rem;
         }
 
         .section3-list ul li a
         {
             color: #808080;
             text-decoration: none;
         }
 
         .section3-list ul li a:hover
         {
             color: #dd052b;
         }
 
         .section3-container
         {
             width: 100%;
             height: 37rem;
             margin: 2rem 0;
             display: flex;
             justify-content: center;
         }
 
         .section3-content
         {
             width: 80rem;
             height: 100%;
             display: grid;
             grid-template-columns: repeat(3, 1fr);
             grid-template-rows: repeat(4, 1fr);
             row-gap: 3rem;
         }
 
         .section3-img
         {
             width: 26.6rem;
             height: 100%;
             margin: 0 0.3rem;
             cursor: pointer;
         }
 
         .section3-img img
         {
             width: 100%;
             height: 26.5rem;
         }
 
         .section3-text
         {
             width: 89%;
             height: 7rem;
             padding: 1.5rem;
             background-color: white;
         }
 
         .section3-text:hover
         {
             color: white;
             background-color: #dd052b;
             cursor: pointer;
         }
 
         .section3-text:hover p
         {
             color: white;
             background-color: #dd052b;
             cursor: pointer;
         }
 
         .section3-text h4
         {
             font-size: 1.5rem;
             margin: 0 0 5px;
         }
 
         .section3-text p
         {
             color: #808080;
         }
 
         .bottom-link
         {
             width: 90%;
             height: 2rem;
             margin: 1.6rem 0 0;
         }
 
         .bottom-link ul
         {
             display: flex;
         }
 
         .bottom-link ul li
         {
             list-style: none;
             margin: 0 1rem;
         }
 
         .bottom-link img
         {
             width: 2rem;
             height: 2rem;
         }
 
         /************************section4******************/

         .section4
         {
            width: 100%;
            height: 49rem;
            display: flex;
         }

         .section4-img
         {
            width: 50%;
            height: 100%;
            background-image: url(images/keshub.png);
            background-size: cover;
         }

         .section4-content
         {
            width: 50%;
            height: 100%;
            background-color: #dd052b;
            color: white;
         }

         .section4-text
         {
            width: 45rem;
            height: 21rem;
            margin-top: 7rem;
            margin-left: 5rem;
         }

         .section4-text h2
         {
            font-size: 1.5rem;
            margin: 0 0 0.5rem;
            padding: 1.25rem 0;
         }

         .section4-text #para1
         {
            font-size: 1.2rem;
            margin: 0 0 1rem;
            padding: 0 0 0.7rem;
         }

         .section4-text #para2
         {
            margin: 0 0 1rem;
            padding: 0 0 2.5rem;
         }

         .section4-text a
         {
            color: black;
            background-color: white;
            text-decoration: none;
            padding: 0.5rem 2rem;
         }

         