*
{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/******************************Header********************************************/

header{
    background-color: black;
    width: 100%;
}

.container
{
    width: 90%;
    height: 4.7rem;
    color: white;
    font-size: 1rem;
    padding: 0px 12px;
    margin: 0px 135px;
}

.navbar
{
    width: 80%;
    height: 4.7rem;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.logo
{
    width: 350px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a
{
    color: white;
    font-family: Satisfy;
    text-decoration: none;
    font-size: 25px;
    padding-right: 3rem;
}


.mainbar
{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.mainbar ul
{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: white;
    
}

.mainbar ul li
{
    width: 9rem;  
    margin: 0.4rem;
    
}

.text-color:hover
{
    color: red;

}

.list-link
{
    text-decoration: none;
    color: white;
}

/**************************submenu1 rise hover****************************/

.submenu1
{
    display: none;
}

.mainbar li:hover .sub1
{
    display: block;
    position: absolute;
    background-color: black;
    margin-top: 1.2rem;
    margin-right: -1rem;
    margin-left: -27.3rem;
    width: 100%;
    height: 25rem; 
}


.mainbar li:hover .submenu1 ul 
{
    display: block;
    margin: 0.9rem;
}

.mainbar li:hover .submenu1 ul li
{
    width: 100%;
    margin-left: 23rem;
    padding: 1rem;
    height: auto;
    background: transparent;
    border-radius: 0;

}

.mainbar li:hover .submenu1 ul li:hover a
{
    text-decoration: underline;
}

.mainbar ul li:hover .submenu1 ul li a:hover
{
    color: aqua;
}

.menu-div
{
    display: flex;
    margin-left: 0;
    width: 100rem;
    height: 1rem;
}


.submenu1 img
{
    width: 22rem;
    height: 12rem;
    margin-top: 1.5rem;
    position: relative;
    left: 80rem;
    top: -20rem;
}

/**************************submenu1 aboutus hover****************************/

.mainbar li:hover .sub2
{
    display: block;
    position: absolute;
    background-color: black;
    margin-top: 1.2rem;
    margin-right: 2rem;
    margin-left: -36.4rem;
    width: 100%;
    height: 25rem; 
}

.sub5 img
{
    width: 22rem;
    height: 12rem;
    margin-top: 1.5rem;
    position: relative;
    left: 80rem;
    top: -15rem;
}

/**************************submenu1 our businesses****************************/

.mainbar li:hover .sub3
{
    display: block;
    position: absolute;
    background-color: black;
    margin-top: 1.2rem;
    margin-right: 2rem;
    margin-left: -45.4rem;
    width: 100%;
    height: 25rem; 
}

.sub3 img
{
    width: 22rem;
    height: 12rem;
    margin-top: 1.5rem;
    position: relative;
    left: 80rem;
    top: -10rem;
}

/**************************submenu investor relations****************************/

.mainbar li:hover .sub4
{
    display: block;
    position: absolute;
    background-color: black;
    margin-top: 1.2rem;
    margin-right: 2rem;
    margin-left: -54.3rem;
    width: 100%;
    height: 25rem; 
}

.sub4 img
{
    width: 22rem;
    height: 12rem;
    margin-top: 1.5rem;
    position: relative;
    left: 80rem;
    top: -20rem;
}

/**************************submenu news room****************************/

.mainbar li:hover .sub5
{
    display: block;
    position: absolute;
    background-color: black;
    margin-top: 1.2rem;
    margin-right: 2rem;
    margin-left: -63.3rem;
    width: 100%;
    height: 25rem; 
}

.sub5 img
{
    width: 22rem;
    height: 12rem;
    margin-top: 1.5rem;
    position: relative;
    left: 80rem;
    top: -15rem;
}

/**************************careers****************************/

.mainbar li:hover .sub6
{
    display: block;
    position: absolute;
    background-color: black;
    margin-top: 1.2rem;
    margin-right: 2rem;
    margin-left: -72.3rem;
    width: 100%;
    height: 25rem; 
}

.sub6 img
{
    width: 22rem;
    height: 12rem;
    margin-top: 1.5rem;
    position: relative;
    left: 80rem;
    top: -15rem;
}

/*************mail & search ****************/

.search ul
{
    display: flex;
}

.search ul li
{
    list-style: none;
    margin: 2rem; 
}

.search ul li a
{
    color: white;
}

.search ul li:hover a
{
    color: red;
}