*
{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/******************************Header********************************************/

header{
    background-color: black;
}

.container
{
    width: 80%;
    height: 4.7rem;
    color: white;
    font-size: 1rem;
    padding: 0px 12px;
    margin: 0px 135px;
}

.navbar
{
    width: 78.5%;
    height: 4.7rem;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.logo a
{
    color: white;
    font-family: Satisfy;
    text-decoration: none;
    font-size: 25px;
}


.mainbar
{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.mainbar ul
{
    display: inline-flex;
    list-style: none;
    color: white;
    margin-left: 1.5rem;
}

.mainbar ul li
{
    width: 9rem;
    margin: 0.3rem;
    padding: 0.3rem;
}

.text-color:hover
{
    color: red;

}

.list-link
{
    text-decoration: none;
    color: white;
}

/**************************submenu1 hover****************************/

.submenu1
{
    display: none;
}

.mainbar li:hover .submenu1
{
    display: block;
    position: absolute;
    background-color: black;
    margin-top: 1.2rem;
    margin-right: -1rem;
    margin-left: -24rem;
    width: 100%;
}


.mainbar li:hover .submenu1 ul 
{
    display: block;
    margin: 0.9rem;
}

.mainbar li:hover .submenu1 ul li
{
    width: 100%;
    margin-left: 23rem;
    
    padding: 1rem;
    height: auto;
    background: transparent;
    border-radius: 0;

}

.mainbar ul li:hover .submenu1 ul li a:hover
{
    color: aqua;
}

.menu-div
{
    display: flex;
    margin-left: 0;
    width: 100rem;
    height: 1rem;
}


.menu-img
{
    width: 22rem;
    margin-top: 1.5rem;
}