*
{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

/******************************Header********************************************/

header{
    background-color: black;
    width: 100%;
    display: flex;
}

.container
{
    width: 90%;
    height: 4.7rem;
    color: white;
    font-size: 1rem;
    padding: 0px 0.75rem;
    margin: 0px 8.5rem;
    display: flex;
}

.wrap
{
    width: 88%;
    height: 4.7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrap ul
{
    display: flex;
    justify-content: space-evenly;
}

.wrap ul li
{
    list-style: none;
    margin: 1.5rem;
}

.wrap ul li a
{
    color: white;
    text-decoration: none;
}

.wrap ul li:hover a, .wrap ul li:hover span
{
    color: red;
}

.wrap p
{
    color: white;
    font-family: Satisfy;
    cursor: pointer;
    font-size: 1.5rem;
    padding-right: 2rem;
}

/************ hover effect ***************/

        .mega-div
        {
            display: none;
        }

        .wrap ul li:hover .mega-div
        {
            display: block;
            position: absolute;
            top: -5rem;
            width: 100%;
            height: 24rem;
            display: flex;
            justify-content: center;
            padding: 3.75rem 0 2rem;
            background-color: black;
            margin-top: 8rem;
            left: 0rem;
        }


        .wrap ul li:hover .wrap-container
        {
            width: 90%;
            height: 18rem;
            display: flex;
            justify-content: center;
            margin: 0 11.625rem;
            padding: 2rem 0;
        }

        .wrap ul li:hover .center-div
        {
            width: 57rem;
            height: 14rem;
            display: flex;
        }

        .wrap ul li:hover .center-div ul
        {
            width: 19rem;
            height: 14.5rem;
            font-size: 0.9rem;
            display: block;
        }

        .wrap ul li:hover .image-wrap img
        {
            width: 22rem;
            height: 12rem;
            margin-left: 14rem;
            
        }

        .wrap ul li:hover .center-div ul li
        {
            list-style: none;
            padding: 0.5rem;
            margin-left: -2.3rem;
            margin-top: -1rem;
        }

        .wrap ul li:hover .center-div ul li a
        {
            text-decoration: none;
            color: white;
        }

        .wrap ul li:hover .center-div ul li:hover a
        {
            color: #FFF78A;
        }

    /*********************section 1 *****************/

    .section1
    {
        width: 100%;
        height: 46.5rem;
        padding: 3rem 0;
        font-size: 1rem;
        background-color: #f6f5f0;
    }
    
    .section1-header
    {
        width: 80%;
        height: 6rem;
        padding: 0 0 2rem;
        margin-left: 11rem;
    }

    .section1-header h6
    {
        width: 58rem;
        height: 1rem;
        margin: 0 13rem 3rem;
    }

    .section1-header h6 em
    {
        font-size: 1rem;
        font-weight: lighter;
    }

    .section1-header h2
    {
        width: 70rem;
        height: 2rem;
        font-size: 2.3rem;
        margin-left: 30%;
        letter-spacing: 0.3rem;
        font-weight: lighter;
    }

    .section1-content
    {
        width: 80rem;
        height: 31rem;
        padding: 0 0.75rem;
        margin-left: 18rem;
    }

    .section1-content ul
    {
        display: flex;
        justify-content: center;
    }

    .section1-content ul li
    {
        list-style: none;
        margin: 1.8rem;
    }

    .section1-content ul li a
    {
        color: #808080;
        text-decoration: none;
    }

    .section1-content ul li a:hover
    {
        color: red;
        text-decoration: underline;
    }

    .contact-form
    {
        width: 73.5rem;
        height: 26rem;
        padding: 2.5rem 3.125rem;   
        border: 1px solid black;  
        background-color: white; 
    }

    .contact-form h5
    {
        width: 72.5rem;
        height: 1.8rem;
        color: #DD052B;
        font-size: 1.25rem;
        letter-spacing: 0.2rem;
        margin: 0 0 0.5rem;
    }

    .contact-form p
    {
        width: 72.5rem;
        height: 1.5rem;
        font-size: 0.875rem;
    }

    .form-data
    {
        width: 73.5rem;
        height: 19rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .form-child fieldset
    {
        border: 1px solid white;
    }

    .form-child1 fieldset input
    {
        width: 35.25rem;
        height: 2.5rem;
        box-shadow: none;
        outline: none;
        border: 1px solid white;
        border-bottom: 1px solid black;
        font-size: 1rem;
        padding: 4px 12px 4px 0;
        margin: 4px 0 0;
    }
    
    .form-child1 fieldset select
    {
        width: 35.25rem;
        height: 2.5rem;
        box-shadow: none;
        outline: none;
        border: 1px solid white;
        border-bottom: 1px solid black;
        font-size: 1rem;
        padding: 4px 12px 4px 0;
        margin: 4px 0 0;
    }

    .form-child3 span input
    {
        width: 47px;
        height: 23px;
        margin-bottom: 1rem;
    }

    .form-child2 textarea
    {
        width: 34rem;
        height: 7rem;
        padding: 6px 12px;
    }

    .form-child4 input
    {
        width: 100px;
        height: 40px;
        padding: 8px;
        background-color: red;
        font-size: 1rem;
        color: white;
        border: none;
        cursor: pointer;
    }

    /******************* section2 social *****************/

    .section2-social
    {
        width: 100%;
        height: 10rem;
        padding: 3rem 0;
    }

    .section2-container
    {
        width: 80rem;
        height: 6rem;
        margin: 0 16rem;
        padding: 0 12px;
        color: black;
    }

    .section2-header
    {
        width: 80rem;
        height: 5rem;
        padding: 0 0 2rem;
        font-size: 2.25rem;
        display: flex;
        justify-content: center;
    }

    .section2-header h2
    {
        font-weight: lighter;
    }

    .list
    {
        width: 100%;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list ul 
    {
        width: 60rem;
        height: 2rem;
        display: flex;
    }

    .bottom-icon li
    {
        width: 40rem;
        height: 2rem;
        list-style: none;
        margin-top: 2rem;
        margin-left: -6rem; 
        display: flex;
        justify-content: space-evenly;
    }

    .bottom-icon li a
    {
        color: white;
        text-decoration: none;
    }

    .bottom-icon li a img
    {
        width: 2rem;
        height: 2rem;
    }

    .bottom-icon li a img:hover
    {
        transform: scale(1.2);
    }

    /************* section 3 ****************/

    .section3
    {
        width: 100%;
        height: 36rem;
        background-color: #f7f5ef;
        padding: 3rem 0;
        font-size: 1rem;
    }

    .section3-container
    {
        width: 65%;
        height: 35rem;
        margin: 0 20rem;
        padding: 0 0.75rem;
        display: flex;
        border: 1px solid black;
    }

    .section3-wrap
    {
        width: 65%;
        height: 35rem;
        margin-left: -1rem;
    }

    .section3-wrap-img
    {
        width: 55rem;
        height: 35rem;
        background-image: url(images/mail\ img1.png);
        background-size: cover;
    }

    .section3-content-wrap
    {
        width: 19rem;
        height: 17rem;
        padding: 2rem;
        margin-left: 5rem;
        margin-top: 8rem;
    }

    .section3-header
    {
        width: 21rem;
        height: 7rem;
    }

    .section3-header h3
    {
        width: 21rem;
        height: 6rem;
        margin: 0 0 1rem;
        font-size: 2.5rem;
        font-weight: lighter;
    }

    .contact 
    {
        width: 21rem;
        height: 2rem;
        margin: 1rem 0 0;
    }

    .contact a
    {
        text-decoration: none;
        color: #808080;
        font-size: 1rem;
        margin-left: 0.5rem;
    }

    .section3-container:hover
    {
        background-color: #dd052c;
        color: white;
    }

    .section3-container:hover a
    {
        color: white;
    }

    /******************* section4 *****************/

    .section4
    {
        width: 100%;
        height: 66rem;
        padding: 3rem 0 0;
    }

    .section4-header
    {
        width: 78.5rem;
        height: 4rem;
        padding: 0 0 2rem;
        margin-left: 20rem;
        display: flex;
        justify-content: center;
    }

    .section4-header h2
    {
        margin: 0 0 0.5rem;
        font-size: 2.5rem;
        font-weight: lighter;
        letter-spacing: 0.5rem;
    }

    .section4-img
    {
        width: 100%;
        height: 60rem;
        background-image: url(images/img1.webp);
        background-size: cover;
        border: 1px solid black;
        position: relative;
    }

    .section4-container
    {
        width: 80%;
        height: 163px;
        position: absolute;
        color: white;
        top: 40%;
        left: 9%;
    }

    .section4-container h2
    {
        font-size: 2rem;
        font-weight: lighter;
        margin-bottom: 1rem;
    }

    .section4-container p
    {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .Btn {
        width: 130px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #dd052b;
        border: none;
        color: white;
        font-size: 0.9rem;
        font-weight: 600;
        gap: 8px;
        cursor: pointer;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
        position: relative;
        overflow: hidden;
        transition-duration: .3s;
      }

      .Btn::before {
        width: 130px;
        height: 130px;
        position: absolute;
        content: "";
        background-color: white;
        border-radius: 50%;
        left: -100%;
        top: 0;
        transition-duration: .3s;
        mix-blend-mode: difference;
      }
      
      .Btn:hover::before {
        transition-duration: .3s;
        transform: translate(100%,-50%);
        border-radius: 0;
      }
      
      .Btn:active {
        transform: translate(5px,5px);
        transition-duration: .3s;
      }
      
    /****************** footer ****************/

    .main-footer
    {
    width: 100%;
    height: 45.5rem;
    background-color: #1c1c1c;
    color: white;
    }

    .footer-div1
    {
        width: 80rem;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 16rem;
    }

    .footer-logo
    {
        color: white;
        font-family: Satisfy;
        font-size: 25px;
        cursor: pointer;
        background-image: linear-gradient(orange, purple);
    }

    .footer-content
    {
        width: 82rem;
        margin-left: 16rem;
        height: 31rem;
        display: flex;
        justify-content: space-evenly;
    }

    .head 
    {
        width: 12rem;
        height: auto;
    }

    .head a
    {
        color: white;
        text-decoration: none;
        font-size: 0.9rem;
    }

    .head ul li
    {
        font-size: 0.9rem;
        margin: 1rem 0 0;
        list-style: none;
    }
    .footer-list li a
    {
        color: #808080;
    }

    .footer-list li:hover a
    {
        color: white;
    }

    /************* footer div2 ***************/

    .footer-divs
    {
        width: 82rem;
        height: 1.5rem;
        display: flex;
    }

    .footer-div2
    {
        width: 36rem;
        height: 1rem;
        padding: 0 0.75rem;
        font-size: 1rem;
        color: white;
        margin-left: 16rem;
    }

    .footer-div2 ul 
    {
        width: 34rem;
        height: 1rem;
        display: flex;
        justify-content: space-evenly;
    }

    .bottom-nav li
    {
        list-style: none;
        padding: 0 1rem;
    }

    .bottom-nav li a
    {
        color: white;
        font-weight: lighter;
        font-style: italic;
        text-decoration: none;
        font-size: 0.85rem;
    }

    /*************** footer icon div *****************/

    .footer-div3
    {
        width: 30rem;
        height: 1rem;
        padding: 0 0.75rem;
        font-size: 1rem;
        color: white;
        margin-left: 16rem;
    }

    .footer-div3 ul 
    {
        width: 23rem;
        height: 1rem;
        display: flex;
    }

    .bottom-icon li
    {
        list-style: none;
        margin: 0.9rem; 
    }

    .bottom-icon li a
    {
        color: white;
        text-decoration: none;
    }

    .bottom-icon li a img
    {
        width: 1.5rem;
        height: 1.5rem;
    }
    /**************** copyright *****************/

    .copyright
    {
        width: 100%;
        height: 2.5rem;
        background-color: #dd052c;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        margin-top: 2.5rem;
        font-weight: bold;
    }