*
{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

/******************************Header********************************************/

header{
    background-color: black;
    width: 100%;
}

.container
{
    width: 90%;
    height: 4.7rem;
    color: white;
    font-size: 1rem;
    padding: 0px 0.75rem;
    margin: 0px 8.5rem;
}

.wrap
{
    width: 88%;
    height: 4.7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrap ul
{
    display: flex;
    justify-content: space-evenly;
}

.wrap ul li
{
    list-style: none;
    margin: 1.5rem;
}

.wrap ul li a
{
    color: white;
    text-decoration: none;
}

.wrap ul li:hover a, .wrap ul li:hover span
{
    color: red;
}

.wrap p
{
    color: white;
    font-family: Satisfy;
    cursor: pointer;
    font-size: 1.5rem;
    padding-right: 2rem;
}

/************ hover effect ***************/

        .mega-div
        {
            display: none;
        }

        .wrap ul li:hover .mega-div
        {
            display: block;
            position: absolute;
            top: -5rem;
            width: 100%;
            height: 24rem;
            display: flex;
            justify-content: center;
            padding: 3.75rem 0 2rem;
            background-color: black;
            margin-top: 8rem;
            left: 0rem;
        }


        .wrap ul li:hover .wrap-container
        {
            width: 90%;
            height: 18rem;
            display: flex;
            justify-content: center;
            margin: 0 11.625rem;
            padding: 2rem 0;
        }

        .wrap ul li:hover .center-div
        {
            width: 57rem;
            height: 14rem;
            display: flex;
        }

        .wrap ul li:hover .center-div ul
        {
            width: 19rem;
            height: 14.5rem;
            font-size: 0.9rem;
            display: block;
        }

        .wrap ul li:hover .image-wrap img
        {
            width: 22rem;
            height: 12rem;
            margin-left: 14rem;
            
        }

        .wrap ul li:hover .center-div ul li
        {
            list-style: none;
            padding: 0.5rem;
            margin-left: -2.3rem;
            margin-top: -1rem;
        }

        .wrap ul li:hover .center-div ul li a
        {
            text-decoration: none;
            color: white;
        }

        .wrap ul li:hover .center-div ul li:hover a
        {
            color: #FFF78A;
            text-decoration: underline;
        }

         /************************section1 *****************/

    .section1
    {
        width: 100%;
        height: 59rem;
        font-size: 1rem;
    }

    .section1-img
    {
        width: 100%;
        height: 100%;
        background-image: url(images/motorsports\ img2.png);
        background-size: cover;
        animation: slide 20s infinite ease-in-out;
    }

    @keyframes slide
        {
            0%
            {
                background-image: url(images/motorsports\ img2.png);
            }
            50%
            {
                background-image: url(images/motorsports\ img3.png);
            }
            100%
            {
                background-image: url(images/motorsports\ img4.png);
            }
        }

    /********************section2*********************/

    .section2
    {
        width: 100%;
        height: 5rem;
        padding: 3rem 0;
        display: flex;
        justify-content: center;
        background-color: #f6f5f0;
    }

    .section2-links
    {
        width: 60%;
        height: 1.5rem;
    }

    .section2-links a
    {
        text-decoration: none;
        color: #999999;
    }

    /**************************section3********************/

    .section3
    {
        width: 100%;
        height: 50rem;
        padding: 3rem 0;
        background-color: #f6f5f0;
    }

    .section-header
    {
        width: 100%;
        height: 10rem;
        text-align: center;
    }

    .section-header h2
    {
        font-size: 2.5rem;
        margin: 0 0 0.5rem;
    }

    .section-header p
    {
        margin-bottom: 2rem;
    }

    .section-header a
    {
        color: white;
        background-color: #dd052b;
        text-decoration: none;
        font-weight: bold;
        padding: 0.8rem 2rem;
    }

    .section-header a:hover
    {
        color: black;
        background-color: white;
    }

    .section3-container
    {
        width: 100%;
        height: 39rem;
        display: flex;
        justify-content: center;
    }

    .section3-grid
    {
        width: 70%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }

    /***************** grid child1 *****************/

    .section3-grid-child1
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        background-image: url(images/motorsports\ grid\ img1.png);
        background-size: cover;
    }

    .section3-child1-content
    {
        width: 80%;
        height: 7.5rem;
        color: white;
        margin-top: 29rem;
        margin-left: 2.5rem;
    }

    .section3-child1-content h2
    {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .section3-child1-content a
    {
        text-decoration: none;
        color: white;
        font-weight: bold;
        background-color: #dd052b;
        padding: 0.8rem 2rem;
    }

    .section3-child1-content a:hover
    {
        color: black;
        background-color: white;
    }

    /***********************grid child2 ***************/

    .section3-grid-child2
    {
        background-image: url(images/motorsports\ grid\ img2.png);
        background-size: cover;
    }

    .section3-child-content
    {
        width: 80%;
        height: 4rem;
        color: white;
        margin-top: 13rem;
        margin-left: 2.5rem;
    }

    /***********************grid child3 ********************/

    .section3-grid-child3
    {
        background-image: url(images/motorsports\ grid\ img3.png);
        background-size: cover;
    }

     /***********************section4*****************/

     .section4
     {
         width: 100%;
         height: 26rem;
         padding:3rem 0 10rem;
     }

     .section4-container
     {
         width: 100%;
         height: 21rem;
         display: flex;
         justify-content: center;
     }

     .section4-list
     {
         width: 90rem;
         height: 100%;
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
     }

     .section4-list li
     {
         width: 11rem;
         height: 10rem;
         padding: 0 0.7rem 2rem;
         margin: 1rem 0 0 1rem;
         display: flex;
         justify-content: center;
         align-items: center;
     }

     /*************************section5*******************/

     .section5
     {
        width: 100%;
        height: 50rem;
        padding: 3rem 0;
        background-color: #f6f5f0;
     }

     .section5-container
     {
        width: 100%;
        height: 35rem;
        display: flex;
        justify-content: center;
     }

     .section5-img
     {
        width: 70%;
        height: 100%;
        background-image: url(images/nascar.png);
        background-size: cover;
     }

     /************************section6******************/

     .section6
     {
        width: 100%;
        height: 50rem;
        padding: 3rem 0 0;
     }

     .section6-container
     {
        width: 100%;
        height: 40rem;
        margin-top: -4rem;
        display: flex;
        justify-content: center;
     }

     .section6-grid
     {
        width: 70%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
     }


     .section6-grid-child2
     {
        grid-column-start: 2;
        grid-column-end: 4;
        background-image: url(images/gallery\ img2.png);
        background-size: cover;
     }

     .section6-grid-child6
     {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        background-image: url(images/gallery\ img6.png);
        background-size: cover;
     }

     .section6-grid-child1
     {
        background-image: url(images/gallery\ img1.png);
        background-size: cover;
     }

     .section6-grid-child3
     {
        background-image: url(images/gallery\ img3.png);
        background-size: cover;
     }

     .section6-grid-child4
     {
        background-image: url(images/gallery\ img4.png);
        background-size: cover;
     }

     .section6-grid-child5
     {
        background-image: url(images/gallery\ img5.png);
        background-size: cover;
     }
     
     /********************section 7******************/

     .section7
     {
         width: 100%;
         height: 56rem;
         padding: 3rem 0;
     }

     .section7-container
     {
         width: 100%;
         height: 5rem;
         padding: 0 0.75rem;
         display: flex;
         justify-content: center;
     }

     .section7-header
     {
         width: 78.5rem;
         height: 2rem;
         padding: 0 0 2rem;
         font-size: 1.5rem;
         text-align: center;
     }

     .section7-content1
     {
         width: 78.5rem;
         height: 25rem;
         margin-left: 21rem;
         display: flex;
     }

     .section7-content1 img
     {
         width: 46rem;
         height: 25rem;
     }

     .inquiry-text
     {
         width: 521px;
         height: 19.3rem;
         padding: 2.8rem 2.8rem 2.8rem 3.75rem;
         background-color: #dd052b;
     }

     .inquiry-text h4
     {
         color: white;
         font-size: 2rem;
         font-weight: lighter;
         margin: 6rem 0 2rem;
     }

     .inquiry-text a
     {
         color: black;
         margin: 20px 0 0 ;
         padding: 11px 22px;
         background-color: white;
         text-decoration: none;
         font-weight: bold;
     }

     .section7-content2
     {
         width: 78.5rem;
         height: 25rem;
         margin-left: 21rem;
         display: flex;
         margin-top: 0.5rem;
         border: 1px solid black;
     }

     .inquity-text2
     {
         width: 36.5rem;
         height: 11rem;
         padding: 0 3rem 0 0;
         margin-top: 6.5rem;
         margin-left: 2rem;
     }

     .inquity-text2 h4
     {
         font-size: 1.5rem;
         margin: 0 0 0.5rem;
     }

     .inquity-text2 p
     {
         margin: 0 0 1rem;
         padding: 0 10rem 0 0;
     }

     .inquity-text2 form #email
     {
         width: 25rem;
         height: 2.6rem;
         padding: 0 1rem;
         background-color: #e8e8e8;
         border: 1px solid white;
         outline: none;
     }

     .inquity-text2 form #submit
     {
         width: 8rem;
         height: 2.7rem;
         margin-left: -0.4rem;
         color: white;
         background-color: #dd052b;
         padding: 0 1rem;
         border: 1px solid white;
         cursor: pointer;
     }

     /****************** footer ********************/

        .main-footer
        {
            width: 100%;
            height: 45.5rem;
            background-color: #1c1c1c;
            color: white;
        }

        .footer-div1
        {
            width: 80rem;
            height: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 16rem;
        }

        .footer-logo
        {
            color: white;
            font-family: Satisfy;
            font-size: 25px;
            cursor: pointer;
            background-image: linear-gradient(orange, purple);
        }

        .footer-content
        {
            width: 82rem;
            margin-left: 16rem;
            height: 31rem;
            display: flex;
            justify-content: space-evenly;
        }

        .head 
        {
            width: 12rem;
            height: auto;
        }

        .head a
        {
            color: white;
            text-decoration: none;
            font-size: 0.9rem;
        }

        .head ul li
        {
            font-size: 0.9rem;
            margin: 1rem 0 0;
            list-style: none;
        }
        .footer-list li a
        {
            color: #808080;
        }

        .footer-list li:hover a
        {
            color: white;
        }

        /************* footer div2 ***************/

        .footer-divs
        {
            width: 82rem;
            height: 1.5rem;
            display: flex;
        }

        .footer-div2
        {
            width: 36rem;
            height: 1rem;
            padding: 0 0.75rem;
            font-size: 1rem;
            color: white;
            margin-left: 16rem;
        }

        .footer-div2 ul 
        {
            width: 34rem;
            height: 1rem;
            display: flex;
            justify-content: space-evenly;
        }

        .bottom-nav li
        {
            list-style: none;
            padding: 0 1rem;
        }

        .bottom-nav li a
        {
            color: white;
            font-weight: lighter;
            font-style: italic;
            text-decoration: none;
            font-size: 0.85rem;
        }

        /*************** footer icon div *****************/

        .footer-div3
        {
            width: 30rem;
            height: 1rem;
            padding: 0 0.75rem;
            font-size: 1rem;
            color: white;
            margin-left: 16rem;
        }

        .footer-div3 ul 
        {
            width: 23rem;
            height: 1rem;
            display: flex;
        }

        .bottom-icon li
        {
            list-style: none;
            margin: 0.9rem; 
        }

        .bottom-icon li a
        {
            color: white;
            text-decoration: none;
        }

        .bottom-icon li a img
        {
            width: 1.5rem;
            height: 1.5rem;
        }
        /**************** copyright *****************/

        .copyright
        {
            width: 100%;
            height: 2.5rem;
            background-color: #dd052c;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.8rem;
            margin-top: 2.5rem;
            font-weight: bold;
        }