*
{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

/******************************Header********************************************/

header{
    background-color: black;
    width: 100%;
}

.container
{
    width: 90%;
    height: 4.7rem;
    color: white;
    font-size: 1rem;
    padding: 0px 0.75rem;
    margin: 0px 8.5rem;
}

.wrap
{
    width: 88%;
    height: 4.7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrap ul
{
    display: flex;
    justify-content: space-evenly;
}

.wrap ul li
{
    list-style: none;
    margin: 1.5rem;
}

.wrap ul li a
{
    color: white;
    text-decoration: none;
}

.wrap ul li:hover a, .wrap ul li:hover span
{
    color: red;
}

.wrap p
{
    color: white;
    font-family: Satisfy;
    cursor: pointer;
    font-size: 1.5rem;
    padding-right: 2rem;
}

/************ hover effect ***************/

        .mega-div
        {
            display: none;
        }

        .wrap ul li:hover .mega-div
        {
            display: block;
            position: absolute;
            top: -3rem;
            width: 100%;
            height: 24rem;
            display: flex;
            justify-content: center;
            padding: 3.75rem 0 2rem;
            background-color: black;
            margin-top: 8rem;
            left: 0rem;
        }


        .wrap ul li:hover .wrap-container
        {
            width: 90%;
            height: 18rem;
            display: flex;
            justify-content: center;
            margin: 0 11.625rem;
            padding: 2rem 0;
        }

        .wrap ul li:hover .center-div
        {
            width: 57rem;
            height: 14rem;
            display: flex;
        }

        .wrap ul li:hover .center-div ul
        {
            width: 19rem;
            height: 14.5rem;
            font-size: 0.9rem;
            display: block;
        }

        .wrap ul li:hover .image-wrap img
        {
            width: 22rem;
            height: 12rem;
            margin-left: 14rem;
            
        }

        .wrap ul li:hover .center-div ul li
        {
            list-style: none;
            padding: 0.5rem;
            margin-left: -2.3rem;
            margin-top: -1rem;
        }

        .wrap ul li:hover .center-div ul li a
        {
            text-decoration: none;
            color: white;
        }

        .wrap ul li:hover .center-div ul li:hover a
        {
            color: #FFF78A;
            text-decoration: underline;
        }

        /**************************section1***************/

        .section1
        {
            width: 100%;
            height: 52rem;
            background-image: url(images/newsroom\ img1.png);
            background-size: cover;
        }

        .section1-text
        {
            width: 61rem;
            height: 9rem;
            color: white;
            position: absolute;
            top: 14rem;
            left: 6rem;
        }

        .section1-text small
        {
            font-size: 0.9rem;
        }

        .section1-text h1
        {
            font-size: 2.5rem;
            margin: 0 0 0.5rem;
        }

        .section1-text p
        {
            font-size: 1.2rem;
            margin: 0 0 1rem;
        }

        /**************************section2******************/

        .section2
        {
            width: 100%;
            height: 54rem;
            padding: 3rem 0;
            background-color: #f7f5ef;
        }

        .section-header
        {
            width: 100%;
            height: 4rem;
            padding: 0 0 2rem;
            text-align: center;
        }

        .section-header h2
        {
            font-size: 2.5rem;
            margin: 0 0 0.5rem;
        }

        .section-header p
        {
            font-size: 1.2rem;
        }

        .section2-container
        {
            width: 100%;
            height: 46rem;
            display: flex;
            justify-content: center;
        }

        .section2-grid
        {
            width: 70%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 1.2rem;
        }

        .section2-grid-child1
        {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            background-image: url(images/newsroom\ grid1\ img1.png);
            background-size: cover;
        }

        .section2-grid-child2
        {
            background-image: url(images/newsroom\ grid1\ img2.png);
            background-size: cover;
        }

        .section2-grid-child3
        {
            background-image: url(images/newsroom\ grid1\ img3.png);
            background-size: cover;
        }

        .section2-div-content1
        {
            width: 35rem;
            height: 38rem;
            padding: 2.5rem;
            color: white;
            position: relative;
        }

        .section2-text
        {
            width: 27rem;
            height: 9rem;
            color: white;
            position: absolute;
            bottom: 1rem;
        }

        .section2-text a
        {
            color: white;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .section2-date
        {
            width: 27rem;
            height: 1.5rem;
            color: white;
            margin-top: 3rem;
        }

        .section2-div-content
        {
            width: 35rem;
            height: 15rem;
            padding: 2.5rem;
            color: white;
            position: relative;
        }

        .button
        {
            width: 100%;
            height: 1.5rem;
            display: flex;
            justify-content: center;
            margin-top: 2rem;
        }

        .button a
        {
            color: #dd052b;
            text-decoration: underline black;
        }

        /**********************section3**********************/

        .section3 
        {
            width: 100%;
            height: 12rem;
            padding: 3rem 0;
            background-color: #f7f5ef;
        }

        .section3-container
        {
            width: 100%;
            height: 8rem;
            display: flex;
            justify-content: center;
        }

        .section3-content
        {
            width: 61.5%;
            height: 36%;
            background-color: white;
            padding: 2.5rem 5rem;
            display: flex;
            align-items: center;
            border: 1px solid black;
        }

        .section3-content h3
        {
            font-size: 1.2rem;
        }

        form #email
         {
             width: 39rem;
             height: 2.6rem;
             padding: 0 1rem;
             background-color: #e8e8e8;
             border: 1px solid white;
             outline: none;
             margin-left: 5rem;
         }
 
         form #submit
         {
             width: 8rem;
             height: 2.7rem;
             margin-left: -0.4rem;
             color: white;
             background-color: #dd052b;
             padding: 0 1rem;
             border: 1px solid white;
             cursor: pointer;
             font-weight: bold;
         }

         /**************************section4**********************/

         .section4
         {
            width: 100%;
            height: 90rem;
            padding: 0 0 3rem;
            background-color: #f7f5ef;
         }

         .section4 ul
         {
            width: 100%;
            height: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
         }

         .section4 ul li
         {
            list-style: none;
            margin: 0 1rem;
         }

         .section4 ul li a
         {
            color: #808080;
            text-decoration: none;
         }

         .section4 ul li a:hover 
         {
            color: #dd052b;
         }

         .section4-container
         {
            width: 100%;
            height: 78rem;
            display: flex;
            justify-content: center;
            margin-top: 2rem;
         }

         .section4-grid
         {
            width: 70%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 1rem;
         }

         .section4-grid-child1
         {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            background-color: white;
         }

         .section4-grid-child2
         {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 3;
            background-image: url(images/newsroom\ grid2\ img2.png);
            background-size: cover;
            position: relative;
         }

         .section4-grid-child3
         {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 5;
            background-image: url(images/newsroom\ grid2\ img3.png);
            background-size: cover;
            position: relative;
         }

         .section4-grid-child4
         {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 5;
            background-color: white;
         }

         .section4-img
         {
            width: 100%;
            height: 15rem;
            background-image: url(images/newsroom\ grid2\ img1.png);
            background-size: cover;
         }

         .section4-content1
         {
            width: 81.5%;
            height: 16rem;
            padding: 2.5rem;
            text-align: center;
         }

         .section4-content1 a
         {
            font-size: 2rem;
            color: black;
            text-decoration: none;
         }

         .section4-content1 p
         {
            margin: 2rem 0; 
         }

         .section4-date1
         {
            width: 100%;
            height: 1.5rem;
         }

         .section4-date1 em
         {
            font-size: 0.75rem;
            font-weight: bold;
         }

        .section4-text
        {
            width: 39rem;
            height: 9rem;
            color: white;
            position: absolute;
            bottom: 1rem;
            left: 3rem;
        }

        .section4-text a
        {
            color: white;
            text-decoration: none;
            font-size: 2rem;
            font-weight: bold;
        }

        .section4-date2
        {
           width: 100%;
           height: 1.5rem;
           margin-top: 2rem;
        }

        .section4-date2 em
        {
           font-size: 0.75rem;
           font-weight: bold;
        }

        .section4-img2
         {
            width: 100%;
            height: 15rem;
            background-image: url(images/newsroom\ grid2\ img4.png);
            background-size: cover;
         }

         /*************************section5*******************/

         .section5
         {
            width: 100%;
            height: 44rem;
            padding: 3rem 0;
            background-color: #f7f5ef;
         }

         .section5-container
         {
            width: 100%;
            height: 35rem;
            display: flex;
            justify-content: center;
         }

         .section5-grid
         {
            width: 70%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem;
         }

         .section5-grid-child1
         {
            background-image: url(images/newsroom\ grid3\ img1.png);
            background-size: cover;
            position: relative;
            cursor: pointer;
         }

         .section5-grid-child2
         {
            background-image: url(images/newsroom\ grid3\ img2.png);
            background-size: cover;
            position: relative;
            cursor: pointer;
         }

         .section5-grid-child3
         {
            background-image: url(images/newsroom\ grid3\ img3.png);
            background-size: cover;
            position: relative;
            cursor: pointer;
         }

         .section5-text
         {
             width: 24.5rem;
             height: 9rem;
             color: white;
             position: absolute;
             bottom: 1rem;
             left: 1rem;
         }
 
         .section5-text a
         {
             color: white;
             text-decoration: none;
             font-size: 1.5rem;
             font-weight: bold;
         }
 
         .section5-date2
         {
            width: 100%;
            height: 1.5rem;
            margin-top: 2rem;
            cursor: pointer;
         }
 
         .section5-date2 em
         {
            font-size: 0.75rem;
            font-weight: bold;
         }
 
         /***********************section6*******************/

         .section6
         {
            width: 100%;
            height: 26rem;
            padding: 3rem 0;
         }

         .section6-container
         {
            width: 100%;
            height: 20rem;
            display: flex;
            justify-content: center;
         }

         .section6-grid
         {
            width: 70%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem;
         }

         .section6-grid-child1
         {
            background-image: url(images/newsroom\ grid4\ img1.png);
            background-size: cover;
            position: relative;
            cursor: pointer;
         }

         .section6-grid-child2
         {
            background-image: url(images/newsroom\ grid4\ img2.png);
            background-size: cover;
            position: relative;
            cursor: pointer;
         }

         .section6-grid-child3
         {
            background-image: url(images/newsroom\ grid4\ img3.png);
            background-size: cover;
            position: relative;
            cursor: pointer;
         }

         .section6-link
         {
            width: 20rem;
            height: 7rem;
            color: white;
            position: absolute;
            bottom: 1rem;
            left: 2rem;
         }

         .section6-link a
         {
            color: white;
            text-decoration: none;
            font-size: 1.5rem;
         }

         .section6-link p
         {
            margin: 1rem 0;
            cursor: pointer;
         }

         .section6-link #para2
         {
            text-decoration: underline;
         }

         /******************** section 7 *******************/

        .section7
        {
            width: 100%;
            height: 28rem;
            padding: 3rem 0;
            background-color: #f6f5f0;
        }

        .section7-container
        {
            width: 100%;
            height: 20rem;
            display: flex;
            justify-content: center;
        }

        .section7-links
        {
            width: 70%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }

        .section7-links-div1
        {
            background-image: url(images/newsroom\ grid5\ img1.png);
            background-size: cover;
            position: relative;
        }

        .section7-links-div2
        {
            background-image: url(images/newsroom\ grid5\ img2.png);
            background-size: cover;
            position: relative;
        }

        .section7-text
        {
            width: 20rem;
            height: 2.5rem;
            color: white;
            position: absolute;
            bottom: 1rem;
            left: 4rem;
        }

        .section7-text a
        {
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
        }

        /********************section 8******************/

        .section8
        {
            width: 100%;
            height: 56rem;
            padding: 3rem 0;
        }

        .section8-container
        {
            width: 100%;
            height: 5rem;
            padding: 0 0.75rem;
            display: flex;
            justify-content: center;
        }

        .section8-content1
        {
            width: 78.5rem;
            height: 25rem;
            margin-left: 21rem;
            display: flex;
        }

        .section8-content1 img
        {
            width: 46rem;
            height: 25rem;
        }

        .inquiry-text
        {
            width: 521px;
            height: 19.3rem;
            padding: 2.8rem 2.8rem 2.8rem 3.75rem;
            background-color: #dd052b;
        }

        .inquiry-text h4
        {
            color: white;
            font-size: 2rem;
            font-weight: lighter;
            margin: 6rem 0 2rem;
        }

        .inquiry-text a
        {
            color: black;
            margin: 20px 0 0 ;
            padding: 11px 22px;
            background-color: white;
            text-decoration: none;
            font-weight: bold;
        }

        .section8-content2
        {
            width: 78.5rem;
            height: 25rem;
            margin-left: 21rem;
            display: flex;
            margin-top: 0.5rem;
            border: 1px solid black;
        }

        .inquity-text2
        {
            width: 36.5rem;
            height: 11rem;
            padding: 0 3rem 0 0;
            margin-top: 6.5rem;
            margin-left: 2rem;
        }

        .inquity-text2 h4
        {
            font-size: 1.5rem;
            margin: 0 0 0.5rem;
        }

        .inquity-text2 p
        {
            margin: 0 0 1rem;
            padding: 0 10rem 0 0;
        }

        .inquity-text2 form #email
        {
            width: 25rem;
            height: 2.6rem;
            padding: 0 1rem;
            background-color: #e8e8e8;
            border: 1px solid white;
            outline: none;
        }

        .inquity-text2 form #submit
        {
            width: 8rem;
            height: 2.7rem;
            margin-left: -0.4rem;
            color: white;
            background-color: #dd052b;
            padding: 0 1rem;
            border: 1px solid white;
            cursor: pointer;
        }

        /****************** footer ********************/

        .main-footer
        {
            width: 100%;
            height: 45.5rem;
            background-color: #1c1c1c;
            color: white;
        }

        .footer-div1
        {
            width: 80rem;
            height: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 16rem;
        }

        .footer-logo
        {
            color: white;
            font-family: Satisfy;
            font-size: 25px;
            cursor: pointer;
            background-image: linear-gradient(orange, purple);
        }

        .footer-content
        {
            width: 82rem;
            margin-left: 16rem;
            height: 31rem;
            display: flex;
            justify-content: space-evenly;
        }

        .head 
        {
            width: 12rem;
            height: auto;
        }

        .head a
        {
            color: white;
            text-decoration: none;
            font-size: 0.9rem;
        }

        .head ul li
        {
            font-size: 0.9rem;
            margin: 1rem 0 0;
            list-style: none;
        }
        .footer-list li a
        {
            color: #808080;
        }

        .footer-list li:hover a
        {
            color: white;
        }

        /************* footer div2 ***************/

        .footer-divs
        {
            width: 82rem;
            height: 1.5rem;
            display: flex;
        }

        .footer-div2
        {
            width: 36rem;
            height: 1rem;
            padding: 0 0.75rem;
            font-size: 1rem;
            color: white;
            margin-left: 16rem;
        }

        .footer-div2 ul 
        {
            width: 34rem;
            height: 1rem;
            display: flex;
            justify-content: space-evenly;
        }

        .bottom-nav li
        {
            list-style: none;
            padding: 0 1rem;
        }

        .bottom-nav li a
        {
            color: white;
            font-weight: lighter;
            font-style: italic;
            text-decoration: none;
            font-size: 0.85rem;
        }

        /*************** footer icon div *****************/

        .footer-div3
        {
            width: 30rem;
            height: 1rem;
            padding: 0 0.75rem;
            font-size: 1rem;
            color: white;
            margin-left: 16rem;
        }

        .footer-div3 ul 
        {
            width: 23rem;
            height: 1rem;
            display: flex;
        }

        .bottom-icon li
        {
            list-style: none;
            margin: 0.9rem; 
        }

        .bottom-icon li a
        {
            color: white;
            text-decoration: none;
        }

        .bottom-icon li a img
        {
            width: 1.5rem;
            height: 1.5rem;
        }
        /**************** copyright *****************/

        .copyright
        {
            width: 100%;
            height: 2.5rem;
            background-color: #dd052c;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.8rem;
            margin-top: 2.5rem;
            font-weight: bold;
        }