*
        {
            margin: 0;
            padding: 0;
            border: border-box;
            font-family: Arial, Helvetica, sans-serif;
            
        }

        /******************************Header********************************************/

        header{
            background-color: black;
            width: 100%;
        }

        .container
        {
            width: 90%;
            height: 4.7rem;
            color: white;
            font-size: 1rem;
            padding: 0px 0.75rem;
            margin: 0px 8.5rem;
        }

        .wrap
        {
            width: 88%;
            height: 4.7rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .wrap ul
        {
            display: flex;
            justify-content: space-evenly;
        }

        .wrap ul li
        {
            list-style: none;
            margin: 1.5rem;
        }

        .wrap ul li a
        {
            color: white;
            text-decoration: none;
        }

        .wrap ul li:hover a, .wrap ul li:hover span
        {
            color: red;
        }

        .wrap p
        {
            color: white;
            font-family: Satisfy;
            cursor: pointer;
            font-size: 1.5rem;
            padding-right: 2rem;
        }

        /************ hover effect ***************/

        .mega-div
        {
            display: none;
        }

        .wrap ul li:hover .mega-div
        {
            display: block;
            position: absolute;
            top: -5rem;
            width: 100%;
            height: 24rem;
            display: flex;
            justify-content: center;
            padding: 3.75rem 0 2rem;
            background-color: black;
            margin-top: 8rem;
            left: 0rem;
        }


        .wrap ul li:hover .wrap-container
        {
            width: 90%;
            height: 18rem;
            display: flex;
            justify-content: center;
            margin: 0 11.625rem;
            padding: 2rem 0;
        }

        .wrap ul li:hover .center-div
        {
            width: 57rem;
            height: 14rem;
            display: flex;
        }

        .wrap ul li:hover .center-div ul
        {
            width: 19rem;
            height: 14.5rem;
            font-size: 0.9rem;
            display: block;
        }

        .wrap ul li:hover .image-wrap img
        {
            width: 22rem;
            height: 12rem;
            margin-left: 14rem;
            
        }

        .wrap ul li:hover .center-div ul li
        {
            list-style: none;
            padding: 0.5rem;
            margin-left: -2.3rem;
            margin-top: -1rem;
        }

        .wrap ul li:hover .center-div ul li a
        {
            text-decoration: none;
            color: white;
        }

        .wrap ul li:hover .center-div ul li:hover a
        {
            color: #FFF78A;
            text-decoration: underline;
        }

        /***************************section1*******************/

        .section1
        {
            width: 100%;
            height: 53rem;
            background-image: url(images/women\ img1.webp);
            background-size: cover;
            border: 1px solid black;
        }

        /***********************section2****************/

        .section2
        {
            width: 100%;
            height: 55rem;
            background-color: #f7f5ef;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        .section2-grid-child1
        {
            background-image: url(images/women\ img2.webp.png);
            background-size: cover;
        }

        .section2-grid-child4
        {
            background-image: url(images/women\ img3.webp.png);
            background-size: cover;
        }

        .section2-grid-child2, .section2-grid-child3
        {
            display: flex;
            align-items: center;
        }

        .section2-content
        {
            width: 48rem;
            height: 6rem;
            padding: 3rem;
        }

        .section2-content h3
        {
            font-size: 2rem;
            margin: 0 0 0.5rem;
        }

        .section2-content p
        {
            font-size: 1.25rem;
            margin: 0 0 1rem;
        }

        /************************section3*******************/

        .section3 
        {
            width: 100%;
            height: 100rem;
            padding: 3rem 0;
            background-color: #f7f5ef;
        }

        .section-header
        {
            width: 100%;
            height: 5rem;
            text-align: center;
        }

        .section-header h2
        {
            font-size: 2.5rem;
            margin: 0 0 0.5rem;
        }

        .section-header p
        {
            font-size: 1.2rem;
        }

        .section3-container
        {
            width: 100%;
            height: 90rem;
            display: flex;
            justify-content: center;
        }

        .section3-grid
        {
            width: 70%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 1rem;
        }

        .section3-grid-child img
        {
            width: 100%;
            height: 20rem;
        }

        .section3-content
        {
            width: 81%;
            height: 19rem;
            padding: 2.5rem;
        }

        .section3-content .img
        {
            width: 4rem;
            height: 4rem;
            background-image: url(images/women\ logo.png);
            background-size: cover;
        }

        .section3-content h4
        {
            font-size: 1.25rem;
            margin: 0 0 0.3rem;
        }

        .section3-content p
        {
            font-size: 0.8rem;
            margin: 0 0 1.25rem;
            color: #808080;
        }

        .section3-content #para2
        {
            font-size: 1rem;
            margin: 1.25rem 0;
        }

        .section3-content a
        {
            color: #dd052b;
            text-decoration: none;
            border-bottom: 1px solid black;
        }

        .section3-grid-child
        {
            background-color: white;
        }

        .section3-grid-child:hover
        {
            background-color: #dd052b;
            color: white;
        }

        .section3-grid-child:hover a
        {
            color: white;
        }

        .section3-grid-child:hover p
        {
            color: white;
        }

        .section3-grid-child:hover .img
        {
            background-image: url(images/women\ logo2.png);
            background-size: cover;
        }
        
        .section3 ul
        {
            width: 100%;
            height: 2rem;
            margin-top: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .section3 ul li
        {
            list-style: none;
            margin: 0 1rem;
        }

        .section3 ul li a
        {
            text-decoration: none;
            color: #999999;
        }

        .section3 ul li a:hover
        {
            color: black;
        }

        /****************** footer ********************/

        .main-footer
        {
            width: 100%;
            height: 45.5rem;
            background-color: #1c1c1c;
            color: white;
        }

        .footer-div1
        {
            width: 80rem;
            height: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 16rem;
        }

        .footer-logo
        {
            color: white;
            font-family: Satisfy;
            font-size: 25px;
            cursor: pointer;
            background-image: linear-gradient(orange, purple);
        }

        .footer-content
        {
            width: 82rem;
            margin-left: 16rem;
            height: 31rem;
            display: flex;
            justify-content: space-evenly;
        }

        .head 
        {
            width: 12rem;
            height: auto;
        }

        .head a
        {
            color: white;
            text-decoration: none;
            font-size: 0.9rem;
        }

        .head ul li
        {
            font-size: 0.9rem;
            margin: 1rem 0 0;
            list-style: none;
        }
        .footer-list li a
        {
            color: #808080;
        }

        .footer-list li:hover a
        {
            color: white;
        }

        /************* footer div2 ***************/

        .footer-divs
        {
            width: 82rem;
            height: 1.5rem;
            display: flex;
        }

        .footer-div2
        {
            width: 36rem;
            height: 1rem;
            padding: 0 0.75rem;
            font-size: 1rem;
            color: white;
            margin-left: 16rem;
        }

        .footer-div2 ul 
        {
            width: 34rem;
            height: 1rem;
            display: flex;
            justify-content: space-evenly;
        }

        .bottom-nav li
        {
            list-style: none;
            padding: 0 1rem;
        }

        .bottom-nav li a
        {
            color: white;
            font-weight: lighter;
            font-style: italic;
            text-decoration: none;
            font-size: 0.85rem;
        }

        /*************** footer icon div *****************/

        .footer-div3
        {
            width: 30rem;
            height: 1rem;
            padding: 0 0.75rem;
            font-size: 1rem;
            color: white;
            margin-left: 16rem;
        }

        .footer-div3 ul 
        {
            width: 23rem;
            height: 1rem;
            display: flex;
        }

        .bottom-icon li
        {
            list-style: none;
            margin: 0.9rem; 
        }

        .bottom-icon li a
        {
            color: white;
            text-decoration: none;
        }

        .bottom-icon li a img
        {
            width: 1.5rem;
            height: 1.5rem;
        }
        /**************** copyright *****************/

        .copyright
        {
            width: 100%;
            height: 2.5rem;
            background-color: #dd052c;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.8rem;
            margin-top: 2.5rem;
            font-weight: bold;
        }